:root {
    --primary-color: #ffff
    --accent-color: #D0E9F5
}
body, h1, h2, p, img, nav a {
    margin: 1;
    padding: 1;
    border: 1;
    text-decoration: none;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #ffff;
}
header {
    background-color: #D0E9F5;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.logo {
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.logo img {
    max-height: 40px;
    margin-right: 10px;
}
header h1 {
    font-size: 2em;
    margin-bottom: 50px;
}
header p {
    font-size: 1.2em;
}

.hero {
    position: left;
    color: #3b3232;
}
.hero h1{
    position: absolute;
    top: 5%;
    left: 35%;
    font-size: 3em;
    border: 1;
}
.hero img{
    width: 100%;
    margin-top: 55px;
    display: -moz-box;
}
.hero article{
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: black(0, 0, 0, 0.5);
    padding: 20px;
    width: 40%;
    color: #ffff;
}
.hero article img{
    max-width: 100px;
    height: auto;
    float: left;
    margin-left: 5px;
}
.history, .adventure {
    margin-bottom: 10px;
}
.adventure img {
    width: 50%;
    max-height: 75px;
    object-fit: cover;
    margin-bottom: 5px;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ffff;
}
.social img {
    max-height: 30px;
    margin: 0 5px;
}